.c_contract {
    background-color: orange;
    display: flex;
    flex-basis: 90px;
    flex-direction: column;
    text-align: center;
}
.r_contract {
    background-color: plum;
    border-style: dashed;
    display: flex;
    flex-direction: row;
}
#account_general {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 340px;
    width: 100%;
}
#a_g_left {
    background-color: yellow;
    flex-basis: 300px;
    flex-grow: 1;
}
#a_g_right {
    background-color: darkcyan;
    flex-basis: 300px;
    flex-grow: 1;
}
#r_header {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#container_contracts_table {
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
    font-size: smaller;
    width: 100%;
}
#c_specialization {
    flex-basis: 150px;
}