body {
    background-color: darkgrey;
    width: 100%;
}
#container_main {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
    min-width: 400px;
    padding: 0;
}
#navbar {
    align-items: center;
    background-color: dimgray;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/*     */
#footer {
    background-color: black;
    color: white;
    margin: auto;
    text-align: center;
    width: 100%;
}
#notice_construction {
    background-color: black;
    color: yellow;
    margin: auto;
    text-align: center;
    width: 100%;
}
#temp_accountheader {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
}