body {
    background-color: darkgrey;
    width: 100%;
}
#account_general {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 340px;
    width: 100%;
}
#account_orders {
    display: flex;
    background-color: mediumpurple;
    flex-direction: column;
    min-height: 300px;
    padding: 10px;
}
#a_g_left {
    background-color: yellow;
    flex-basis: 300px;
    flex-grow: 1;
}
#a_g_right {
    background-color: darkcyan;
    flex-basis: 300px;
    flex-grow: 1;
}
#a_o_bought {
    background-color: darkseagreen;
    display: flex;
    flex-basis: 150px;
}
#a_o_display {
    background-color: darkgrey;
    display: flex;
    flex-grow: 1;
}
#a_o_selector {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#a_o_sold {
    background-color: burlywood;
    display: flex;
    flex-basis: 150px;
}
#container_main {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1000px;
    min-width: 400px;
    padding: 0;
}
#navbar {
    align-items: center;
    background-color: dimgray;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/*     */

/*     */
#display_bought {
    background-color: darkseagreen;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
#display_sold {
    background-color: dimgray;
    display: none;
    width: 100%;
}
/*     */
#footer {
    background-color: black;
    color: white;
    margin: auto;
    text-align: center;
    width: 100%;
}
#notice_construction {
    background-color: black;
    color: yellow;
    margin: auto;
    text-align: center;
    width: 100%;
}
#temp_accountheader {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
}
/* CLASSES */

/*  */