body {
    background-color: white;
}
.c_row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    padding: 5px;
}
.c_textcenter {
    text-align: center;
}
.graph_cell {
    border-color: limegreen;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 3px 3px limegreen;
    padding: 5px;
}
.graph_day {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
    padding: 5px;
    width: 200px;
}
.nav_top_cell {
    font-size: xx-large;
    font-weight: bold;
    color: rebeccapurple;
}
.navigation_button {
    background-color: indianred;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px dimgray;
    height: 110px;
    justify-content: center;
    text-align: center;
    width: 180px;
}
#container_chat {
    margin-top: 30px;
}
#container_graph {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin-top: 40px;
    max-width: 1400px;
    text-align: center;
    width: 100%;
    z-index: -1;
}
#container_input {
    background-color: indianred;
    border-radius: 50px;
    box-shadow: 15px 15px 10px dimgray;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 15px 10px 15px 10px;
}
#div_cancel_inner {
    background-color: white;
    border-color: red;
    border-radius: 15px;
    border-style: solid;
    box-shadow: 3px 3px dimgray;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    padding: 5px;
    text-align: center;
    width: 70px;
}
#div_existing_offer {
    align-self: center;
    background-color: pink;
    border-radius: 15px;
    box-shadow: 5px 5px dimgray;
    display: flex;
    flex-direction: column;
    padding: 8px;
}
#div_grade_proof {
    display: flex;
}
#div_iparty_cell {
    align-items: center;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 3px 3px dimgray;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
#div_iparty_row {
    align-self: center;
    background-color: silver;
    border-radius: 15px;
    box-shadow: 3px 3px dimgray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
#div_instructions {
    background-color: aquamarine;
    border-radius: 15px;
    box-shadow: 5px 5px dimgray;
    display: flex;
    flex-direction: row;
    margin: 0 10px 0 10px;
    padding: 10px 5px 15px 5px;
    text-align: center;
}
#div_instructions_column {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    padding: 5px;
    /*width: 100%;*/
}
#div_instructions_row {
    background-color: lightgrey;
    border-radius: 15px;
    box-shadow: 3px 3px dimgray;
    display: flex;
    flex-direction: row;
    max-width: 1150px;/* SLAVE */
    min-width: 350px;
    padding: 10px;
    text-align: left;
    /*width: 100%;*/
}

#div_phase {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-around;
    padding: 5px;
}
#div_phase_inner {
    background-color: white;
    border-color: red;
    border-radius: 15px;
    border-style: solid;
    box-shadow: 3px 3px dimgray;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    padding: 5px;
    text-align: center;
    width: 70px;
}
#div_type_inner {
    background-color: white;
    border-color: red;
    border-radius: 15px;
    border-style: solid;
    box-shadow: 3px 3px dimgray;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    padding: 5px;
    text-align: center;
    width: 70px;
}
#header_logo {
    background-image: url("../imgs/abheader.png");
    background-position: left;
    background-repeat: no-repeat;
    height: 52px;
    max-width: 1200px;
    width: 100%;
}
#header_logo_behind {
    background-color: purple;
    height: 5px;
    margin-top: 38px;
    position: absolute;
    width: 100%;
    z-index: -1;
}
#nav_row_top {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-evenly;
    max-width: 1200px;
    width: 100%;
}
#nav_top_col1 {
    display: flex;
    flex-basis: 30%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding-top: 25px;
    text-align: center;
}
#nav_top_col2 {
    flex-basis: 50%;
    min-width: 300px;
    text-align: center;
}
#nav_top_col3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 180px;
}
#info1_container {
    background-color: lightgreen;
    border-top: solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}
#info1_main_col {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 10px;
    width: 100%;
}
#info2_container {
    background-color: white;
    border-bottom: solid black;
    box-shadow: -10px 10px dimgray;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}
#info3_container {
    background-color: lightcyan;
    box-shadow: 10px 10px dimgray;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 10px;
    width: 100%;
}
