body {
    /*background-color: white;*/
}
.c_row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    max-width: 1200px;
    padding: 5px;
    width: 100%;
}
.c_textcenter {
    text-align: center;
}
.chat_row_lb {
    background-color: lightblue;
    border-top: solid white 2px;
    padding: 10px;
}
.chat_row_lg {
    background-color: lightgrey;
    border-top: solid black 2px;
    padding: 10px;
}
.chat_row_bottom {
    padding:10px;
}
.chat_row_top {
    column-gap: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: small;
    justify-content: space-between;
    row-gap: 2px;
}
.graph_cell {
    background-color: white;
    border: solid 2px limegreen;
    border-radius: 5px;
    border-right-width: 20px;
    font-weight: normal;
    padding: 5px;
    width: 150px;
}
.graph_cell_past {
    background-color: white;
    border: solid 2px gray;
    border-left: solid 20px gray;
    border-radius: 5px;
    font-weight: normal;
    padding: 5px;
    width: 150px;
}
.graph_cell_time {
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
}
.graph_cell_today {
    background-color: white;
    border: solid 5px orange;
    border-left-width: 20px;
    border-right-width: 20px;
    border-radius: 5px;
    font-weight: normal;
    margin: 10px 0 10px 0;
    padding: 5px;
    width: 130px;
}
.graph_day {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    font-weight: bold;
    gap: 5px;
    justify-content: flex-start;
    width: 200px;
}
.nav_top_cell {
    font-size: xx-large;
    font-weight: bold;
    color: rebeccapurple;
}
.navigation_button {
    background-color: indianred;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px dimgray;
    height: 110px;
    justify-content: center;
    text-align: center;
    width: 180px;
}
#button_logout {
    background-image: url("../imgs/logout.png");
    height: 132px;
    width: 132px;
}
#c_s_f_message {
    width: 100%;
}
#c_s_f_mood {
    align-self: flex-end;
    width: 200px;
}
#chat_send_form {
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
    width: 95%;
}
#container_chat {
    /*align-items: flex-end;*/
    align-items: center;
    align-self: center;
    /*border-bottom: solid black 1px;*/
    /*border-right: solid black 1px;*/
    /*box-shadow: inset 10px 10px 5px dimgray;*/
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    max-width: 800px;
    padding: 10px;
    width: 100%;
}
#container_graph {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin-top: 40px;
    max-width: 1600px;
    text-align: center;
    width: 100%;
    z-index: -1;
}
#container_input {
    align-items: center;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-evenly;*/
    /*margin-top: 30px;*/
    /*padding: 20px 0 0 0;*/
    /*width: 100%;*/
    background-color: #A9CCE3;/*#7FB3D5*/
    box-shadow: 8px 8px dimgray;
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
    /*position: absolute;*/
    text-align: center;
    width: 100%;
    /*margin-bottom: 10px;*/
    margin-top: 30px;
    z-index: 2;
}
#container_input_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1000px;
    width: 100%;
}
#div_cancel_inner {
    background-color: white;
    border-color: red;
    border-radius: 15px;
    border-style: solid;
    box-shadow: 3px 3px dimgray;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    padding: 5px;
    text-align: center;
    width: 70px;
}
#div_chat_button {
    align-self: flex-end;
}
#div_chat_read {
    background-color: lightsteelblue;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 0 20px 0;
    width: 100%;
}
#div_chat_send {
    align-items: center;
    background-color: lightsteelblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#div_existing_offer {
    background-color: #A9CCE3;/*#7FB3D5*/
    box-shadow: 8px 8px dimgray;
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
    /*position: absolute;*/
    text-align: center;
    width: 100%;
    /*margin-bottom: 10px;*/
    z-index: 2;
}
#div_grade_proof {
    display: flex;
}
#div_iparty_cell {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px dimgray;
    display: flex;
    flex-direction: column;
    padding: 5px;
    row-gap: 5px;
}
#div_iparty_row {
    align-self: center;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
#div_instructions {
    background-color: aquamarine;
    border-radius: 15px;
    /*box-shadow: 5px 5px dimgray;*/
    display: flex;
    flex-direction: row;
    margin: 0 10px 0 10px;
    padding: 10px 5px 15px 5px;
    text-align: center;
}
#div_instructions_column {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    padding: 5px;
    /*width: 100%;*/
}
#div_instructions_row {
    background-color: white;
    border-radius: 15px;
    border: solid black 2px;
    /*box-shadow: 3px 3px dimgray;*/
    display: flex;
    flex-direction: row;
    max-width: 1150px;/* SLAVE */
    min-width: 350px;
    padding: 10px;
    text-align: left;
    /*width: 100%;*/
}
#div_make_offer {
    background-color: #A9CCE3;/*#7FB3D5*/
    box-shadow: 8px 8px dimgray;
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
    /*position: absolute;*/
    text-align: center;
    width: 100%;
    /*margin-bottom: 10px;*/
    z-index: 2;
}
#div_phase {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-around;
    padding: 5px;
}
#div_phase_inner {
    background-color: white;
    border-color: red;
    border-radius: 15px;
    border-style: solid;
    box-shadow: 3px 3px dimgray;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    padding: 5px;
    text-align: center;
    width: 70px;
}
#div_type_inner {
    background-color: white;
    border-color: red;
    border-radius: 15px;
    border-style: solid;
    box-shadow: 3px 3px dimgray;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    padding: 5px;
    text-align: center;
    width: 70px;
}
#header_logo {
    background-image: url("../imgs/abheader.png");
    background-position: left;
    background-repeat: no-repeat;
    height: 52px;
    max-width: 1200px;
    width: 100%;
}
#header_logo_behind {
    background-color: purple;
    height: 5px;
    margin-top: 38px;
    position: absolute;
    width: 100%;
    z-index: -1;
}
#iparties {
    background-color: purple;
}
#nav_row_top {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-evenly;
    max-width: 1200px;
    width: 100%;
}
#nav_top_col1 {
    display: flex;
    flex-basis: 30%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding-top: 25px;
    text-align: center;
}
#nav_top_col2 {
    flex-basis: 50%;
    min-width: 300px;
    text-align: center;
}
#nav_top_col3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 180px;
}
#info1_container {
    background-color: lightgreen;
    box-shadow: -8px 8px dimgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    z-index: 1;
}
#info1_main_col {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 10px;
    width: 100%;
}
#info2_container {
    align-items: center;
    background-color: white;
    border-bottom: solid black;
    /*box-shadow: 40px 30px 10px dimgray;*/
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}
#info3_container {
    background-color: lightcyan;
    box-shadow: 10px 10px dimgray;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 10px;
    width: 100%;
}
#user_timezone {
    margin: 30px 0 0 0;
    text-align: center;
    width: 100%;
}
