.all {
    display: none;
    flex-direction: column;
}
.aonly {
    display: none;
    flex-direction: column;
}
.tonly {
    display: none;
    flex-direction: column;
}
.cc_inner_column {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.cc_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}
#cc_main {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    max-width: 1200px;
}
#c_f_s_l_graduate {
    background-color: plum;
    flex-basis: 33.33%;
    width: 200px;
}
#c_f_s_l_h_school {
    background-color: aqua;
    flex-basis: 33.33%;
    width: 200px;
}
#c_f_s_l_main {
    border-style: dotted;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 75px;
}
#c_f_s_l_undergraduate {
    background-color: coral;
    flex-basis: 33.33%;
    width: 200px;
}
#c_f_s_t_assignment {
    background-color: blanchedalmond;
    flex-basis: 50%;
}
#c_f_s_t_test {
    background-color: khaki;
    flex-basis: 50%;
}
#c_f_s_t_main {
    border-style: dotted;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 75px;
    margin-top: 15px;
}
#container_form {
    text-align: center;
}
#container_the_rest {
    display: none;
    flex-direction: column;
}
#div_instructions {
    min-width: 350px;
}
#popup_div_lostudy {
    background-color: lightblue;
    border-radius: 50px;
    box-shadow: 10px 10px dimgray;
    display: none;
    padding: 15px;
}
#popup_div_type {
    background-color: lightblue;
    border-radius: 50px;
    box-shadow: 10px 10px dimgray;
    display: none;
    padding: 15px;
}
