.all {
    display: none;
}
.aonly {
    display: none;
}
.tonly {
    display: none;
}
#cc_main {
    background-color: darksalmon;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#c_f_s_l_graduate {
    background-color: plum;
    flex-basis: 33.33%;
}
#c_f_s_l_h_school {
    background-color: aqua;
    flex-basis: 33.33%;
}
#c_f_s_l_main {
    background-color: plum;
    border-style: dotted;
    display: flex;
    flex-direction: row;
    height: 50px;
}
#c_f_s_l_undergraduate {
    background-color: coral;
    flex-basis: 33.33%;
}
#c_f_s_t_assignment {
    background-color: blanchedalmond;
    flex-basis: 50%;
}
#c_f_s_t_test {
    background-color: khaki;
    flex-basis: 50%;
}
#c_f_s_t_main {
    background-color: plum;
    border-style: dotted;
    display: flex;
    flex-direction: row;
    height: 75px;
    width: 100%;
}
