/* CLASSES */
.column_market {
    align-items: center;
    background-color: silver;
    border-radius: 5px;
    box-shadow: 3px 3px darkorange;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 60px;
    min-width: 100px;
    padding: 5px;
    text-align: center;
}
.column_market_leftmost {
    align-items: center;
    background-color: silver;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 3px 3px darkorange;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 60px;
    min-width: 100px;
    padding: 5px;
    text-align: center;
}
.column_market_rightmost {
    align-items: center;
    background-color: silver;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 3px 3px darkorange;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 60px;
    min-width: 100px;
    padding: 5px;
    text-align: center;
}
.column_market_specialization {
    align-items: center;
    background-color: silver;
    border-radius: 5px;
    box-shadow: 3px 3px darkorange;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 120px;
    text-align: center;
}
.column_market_subject {
    align-items: center;
    background-color: silver;
    border-radius: 5px;
    box-shadow: 3px 3px darkorange;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 120px;
    text-align: center;
}
.container {
    border-radius: 30px;
    box-shadow: 10px 10px dimgray;
    margin-bottom: 20px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin-top: 15px;
    padding: 30px 10px 25px 5px;
}
.row_market {
    background-color: orange;
    border-radius: 25px;
    box-shadow: 5px 5px dimgray;
    display: flex;
    flex-basis: max-content;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding: 5px 10px 10px 10px;
}
.spacer {
    background-color: transparent;
    height: 30px;
}
.spacer_row {
    background-color: transparent;
    height: 10px;
}
/* ID'S */
#c_m_bottom {
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 92%;
}
#container_header {
    align-self: center;
    background-image: url("../imgs/abheader.png");
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    height: 300px;
    margin-top: 10px;
    max-width: 1000px;
    position: fixed;
    width: 100%;
    z-index: -1;
}
#container_how {
    background-color: lightblue;
    box-shadow: 10px 10px dimgray;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#container_market {
    align-self: center;
    background-color: lightgrey;
    border-radius: 25px 25px 0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#container_navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 20px;
    height: 300px;
    justify-content: flex-end;
    margin-top: 5px;
    max-width: 1250px;
    padding-top: 10px;
    width: 100%;
}
#container_next1 {
    background-color: transparent;
    height: 400px;
    width: 100%;
}
#container_next2 {
    background-color: lightgreen;
    box-shadow: 10px 10px dimgray;
    height: 400px;
    width: 100%;
}
#navigation_column {
    display: flex;
    flex-direction: column;
}
.navigation_button {
    background-color: indianred;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px dimgray;
    height: 110px;
    justify-content: center;
    text-align: center;
    width: 180px;
}