/* CLASSES */
.column_market {
    /*align-items: center;*/
    background-color: white;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-grow: 1;*/
    /*justify-content: space-around;*/
    /*min-height: 60px;*/
    /*padding: 5px;*/
    /*text-align: center;*/
    /*min-width: 120px;*/
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 3px;
    text-align: center;
    width: 120px;
}
.column_specialization {
    width: 160px;
}
/*.column_market_specialization {*/
/*    align-items: center;*/
/*    background-color: white;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-grow: 1;*/
/*    justify-content: space-around;*/
/*    width: 100px;*/
/*    text-align: center;*/
/*}*/
/*.column_market_subject {*/
/*    align-items: center;*/
/*    background-color: white;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-grow: 1;*/
/*    justify-content: space-around;*/
/*    width: 100px;*/
/*    text-align: center;*/
/*}*/
.container {
    border-radius: 30px;
    box-shadow: 10px 10px dimgray;
    margin-bottom: 20px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin-top: 15px;
    padding: 30px 10px 25px 5px;
}
.cell_due {
    background-color: lightcoral;
}
.cell_money {
    background-color: lightgreen;
    flex-grow: 0;
}
.cell_type {
    background-color: lightskyblue;
}
.row_market {
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    display: flex;
    flex-basis: max-content;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.spacer {
    background-color: transparent;
    height: 30px;
}
.spacer_row {
    background-color: transparent;
    height: 10px;
}
/* ID'S */
#button_account {
    background-image: url("../imgs/account.png");
    height: 132px;
    width: 180px;
}
#button_logout {
    background-image: url("../imgs/logout.png");
    height: 132px;
    width: 132px;
}
#button_market {
    background-image: url("../imgs/market.png");
    height: 132px;
    width: 180px;
}
#c_m_bottom {
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 92%;
}
#container_header {
    align-self: center;
    background-image: url("../imgs/abheader.png");
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    height: 300px;
    margin-top: 20px;
    max-width: 800px;
    position: fixed;
    width: 100%;
    z-index: -1;
}
#container_how {
    background-color: white;
    border-color: deepskyblue;
    border-style: solid;
    box-shadow: 10px 10px dimgray;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
#container_market {
    align-self: center;
    background-color: lightblue;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0px 30px 0px;
}
#container_navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 20px;
    height: 300px;
    justify-content: flex-end;
    margin-top: 5px;
    max-width: 1250px;
    padding: 10px 30px 0px 0px;
    width: 100%;
}
#container_navigation a {
    display: inline-block;
    height: 132px;
}
#container_next1 {
    background-color: transparent;
    height: 300px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
#container_next2 {
    background-color: lightgreen;
    box-shadow: 10px 10px dimgray;
    height: 300px;
    width: 100%;
}
#navigation_column {
    display: flex;
    flex-direction: column;
}
.navigation_button {
    background-color: indianred;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px dimgray;
    height: 110px;
    justify-content: center;
    text-align: center;
    width: 180px;
}