/* CLASSES */
.c_inner_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.column_market {
    display: flex;
    flex-basis: 90px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.row_market {
    background-color: lightgreen;
    border-radius: 30px;
    box-shadow: 5px 5px dimgray;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
}
/* ID's */
#container_market_header {
    align-self: center;
    background-color: limegreen;
    border-radius: 50px;
    box-shadow: 10px 10px dimgray;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
}
#container_market_table {
    align-self: center;
    background-color: lightblue;
    border-radius: 50px;
    box-shadow: 10px 10px dimgray;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
}
#c_m_h_row {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
#create_contract {
    align-self: center;
}
#col_specialization {
    flex-basis: 150px;
}
#market_main {
    display: flex;
    flex-direction: column;
    margin-top: 220px;
}