/* CLASSES */
.column_market {
    background-color: plum;
    display: flex;
    flex-basis: 90px;
    flex-direction: column;
    text-align: center;
}
.row_market {
    background-color: lightgreen;
    border-style: dashed;
    display: flex;
    flex-direction: row;
}
/* ID's */
#container_market {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#c_m_header {
    background-color: deepskyblue;
    display: flex;
    flex-direction: row;
    width: 100%;
}
#col_specialization {
    flex-basis: 150px;
}