{% extends "base.html" %}
{% block title %}<title>answerBlasters: your account</title>{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">{% endblock %}
{% block scripts %}<script src="{{url_for('static', filename='scripts/account.js')}}"></script>{% endblock %}
{% block body %}
    <div id="header_logo_behind"></div>
    <div id="header_logo"></div>
    <div id="nav_row_top">
        <div id="nav_top_col1">
{#            <a href="{{ url_for('user_settings', user_id=current_user.id_object) }}">settings</a>#}
{#            <a href="{{ url_for('support', user_id=current_user.id_object) }}">support</a>#}
{#            <a href="{{ url_for('tutorial', user_id=current_user.id_object) }}">tutorial</a>#}
            <a href="{{ url_for('index') }}"><div class="nav_top_cell">settings</div></a>
            <a href="{{ url_for('index') }}"><div class="nav_top_cell">support</div></a>
            <a href="{{ url_for('index') }}"><div class="nav_top_cell">tutorial</div></a>
        </div>
        <div id="nav_top_col2">
            <h1>{{ current_user.username }}</h1>
        </div>
        <div id="nav_top_col3">
            <a href="{{ url_for('logout') }}">
                <div id="button_logout">
                </div>
            </a>
        </div>
    </div>
    <div id="account_general">
        <div id="a_g_left">
            <b>total earned: ${{ data_obj['total_earned'] }}</b><p></p>
            avg rating: {{ data_obj['review_avg'] }}<p></p>
            <i><a href="{{ url_for('view_user', user_id=current_user.id_object) }}">view your public profile:</a></i><p></p>
        </div>
        <div id="a_g_right">
            {% if msg_arr|length > 0 %}
                {% for each in msg_arr %}
                    <a href="{{ url_for('contract', contract_id=each, message='check new message') }}">{{ each }} has a new message</a><p></p>
                {% endfor %}
            {% endif %}
            upcoming deadlines...<p></p>
            contract XXX needs you to rate the other user.<p></p>
            contract XXX
        </div>
    </div>
    <div id="nav_row_mid">
        <a href="{{ url_for('create_contract') }}">
            <div class="column">
                <div id="button_cc"></div>
            </div>
            <div class="u_f_b u_t_c">create bounty</div>
        </a>
        <a href="{{ url_for('market') }}">
            <div class="column">
                <div id="button_market"></div>
            </div>
            <div class="u_f_b u_t_c">go to market</div>
        </a>
    </div>
    <div id="container_contracts">
        <div id="container_contracts_table">
            <div class="r_contract">
                <div class="c_contract cell_position"><b>position</b></div>
                <div class="c_contract cell_type"><b>type</b></div>
                <div class="c_contract"><b>phase</b></div>
                <div class="c_contract"><b>level</b></div>
                <div class="c_contract"><b>subject</b></div>
                <div class="c_contract c_specialization"><b>specialization</b></div>
                <div class="cell_due c_contract"><b>due /<br>test starts</b></div>
                <div class="cell_money_header c_contract"><b>bounty</b><br>bonuses</div>
                <div class="c_contract cell_message"><b>messages?</b></div>
            </div>
            {% for doc in user_contracts|reverse %}
                <!-- can wrap row with a link -->
                <a href="{{ url_for('contract', contract_id=doc['_id'], message='none') }}" style="color: black;text-decoration: none">
                    <div class="r_contract">
                        <!-- can wrap column with a link -->
                        <div class="c_contract cell_position">
                            {% if current_user.id_object == doc['owner'] %}
                                owner
                            {% elif current_user.id_object == doc['bhunter'] %}
                                hunter
                            {% else %}
                                interested party
                            {% endif %}
                        </div>
                        <div class="c_contract cell_type">{{ doc['type_contract'] }}</div>
                        <div class="c_contract">{{ doc['phase'] }}</div>
                        <div class="c_contract">{{ doc['lostudy'] }}</div>
                        <div class="c_contract">{{ doc['subject'] }}</div>
                        <div class="c_contract c_specialization">{{ doc['specialization'] }}</div>
                        {% if doc['type_contract'] == 'assignment' %}
                            <div class="cell_due c_contract" data-time="{{ doc['timeline'][4]['time'] }}">
                                <span><b>{{ doc['timeline'][4]['time'].strftime('%h %d') }}</b></span>
                                <b>{{ doc['timeline'][4]['time'].strftime('%H:%M') }}</b>
                            </div>
                        {% else %}
                            <div class="cell_due c_contract" data-time="{{ doc['timeline'][3]['time'] }}">
                                <span><b>{{ doc['timeline'][3]['time'].strftime('%h %d') }}</b></span>
                                <span><b>{{ doc['timeline'][3]['time'].strftime('%H:%M') }}</b> - <b>{{ doc['timeline'][4]['time'].strftime('%H:%M') }}</b></span>
                            </div>
                        {% endif %}
                        <div class="cell_money c_contract">
                            <b>${{ doc['bounty'] }}</b>
                            <div class="bonuses">
                                <span style="color: purple">${{ doc['efbonus'] }}</span>,&nbsp;<span style="color: blue">${{ doc['egbonus'] }}</span>
                            </div>
                        </div>
                        {% if doc['phase'] not in data_obj['no_chat_msg_arr'] and doc['_id']|string in msg_arr %}
                            <div class="blink_bg c_contract cell_message">
                                NEW msg!
                            </div>
{#                        {% elif doc['phase'] not in data_obj['no_chat_msg_arr'] %}#}
                        {% else %}
                            <div class="c_contract cell_message">
                                ---
                            </div>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{#    <div id="container_contracts_table">#}
{#        {% for doc in user_contracts|reverse %}#}
{#            <!-- can wrap row with a link -->#}
{#            <a href="{{ url_for('contract', contract_id=doc['_id'], message='none') }}">#}
{#                <div class="r_contract">#}
{#                    <!-- can wrap column with a link -->#}
{#                    <div class="c_contract">#}
{#                        {% if current_user.id_object == doc['owner'] %}#}
{#                            <b>position:</b><p>owner</p>#}
{#                        {% elif current_user.id_object == doc['bhunter'] %}#}
{#                            <b>position:</b><p>hunter</p>#}
{#                        {% else %}#}
{#                            <b>position:</b><p>interested party</p>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                    <div class="c_contract"><b>phase:</b><p>{{ doc['phase'] }}</p></div>#}
{#                    <div class="c_contract"><b>type:</b><p>{{ doc['type_contract'] }}</p></div>#}
{#                    <div class="c_contract"><b>lvl of study:</b><p>{{ doc['lostudy'] }}</p></div>#}
{#                    <div class="c_contract"><b>subject:</b><p>{{ doc['subject'] }}</p></div>#}
{#                    <div class="c_contract" id="c_specialization"><b>specialization:</b><p>{{ doc['specialization'] }}</p></div>#}
{#                    {% if doc['type_contract'] == "assignment" %}#}
{#                        <div class="c_contract"><b>assignment deadline:</b><p>{{ doc['timeline'][3]['time'] }}</p></div>#}
{#                        {% if doc['timeline']|length > 5 %}#}
{#                            <div class="c_contract">{{ doc['timeline'][5]['time'] }}</div>#}
{#                        {% else %}#}
{#                            <div class="c_contract"><b>efbonus deadline:</b><p>no efbonus deadline</p></div>#}
{#                        {% endif %}#}
{#                        <div class="c_contract"><b>bounty:</b><p>{{ doc['bounty'] }}</p></div>#}
{#                    {% else %}#}
{#                        <div class="c_contract">#}
{#                            <b>test starts:</b><p>{{ doc['timeline'][2]['time'] }}</p>#}
{#                        </div>#}
{#                        <div class="c_contract">#}
{#                            {{ doc['timeline'][4]['time'] }}#}
{#                        </div>#}
{#                        <div class="c_contract">#}
{#                            <b>bounty:</b><p>{{ doc['bounty'] }}</p>#}
{#                        </div>#}
{#                    {% endif %}#}
{#                    {% if doc['phase'] not in data_obj['no_chat_msg_arr'] and doc['_id']|string in msg_arr %}#}
{#                        NEW msg!#}
{#                    {% elif doc['phase'] not in data_obj['no_chat_msg_arr'] %}#}
{#                        no new msg#}
{#                    {% endif %}#}
{#                </div>#}
{#            </a>#}
{#            <div class="spacer_row"></div>#}
{#        {% endfor %}#}
{#    </div>#}
{% endblock %}