{% extends "base.html" %}
{% block title %}<title>answerBlasters: your account</title>{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">{% endblock %}
{% block scripts %}<script src="{{url_for('static', filename='scripts/account.js')}}"></script>{% endblock %}
{% block body %}
    <div id="account_general">
        <div id="a_g_left">
            a_g_left<p></p>
            <b>total earned: ${{ data_obj['total_earned'] }}</b><p></p>
            avg rating: {{ data_obj['review_avg'] }}<p></p>
            <i><a href="{{ url_for('view_user', userid=current_user.id_object) }}">view your public profile:</a></i><p></p>
        </div>
        <div id="a_g_right">
            a_g_right:<p></p>
            {% if msg_arr|length > 0 %}
                {% for each in msg_arr %}
                    <a href="{{ url_for('contract', contract_id=each, message='check new message') }}">{{ each }} has a new message</a><p></p>
                {% endfor %}
            {% endif %}
            ####################################################<p></p>
            deadline less than 24hrs: ...<p></p>
        </div>
    </div>
    <div id="container_contracts_header">
        <div id="r_header">
            <div class="c_contract_header" id="c_position"><b>position</b>
                <div class="c_inner_row">
                    <text onclick="sort_alpha('container_contracts_table', 'down', 'position')">down</text>
                    <text onclick="sort_alpha('container_contracts_table', 'up', 'position')">up</text>
                </div>
            </div>
            <div class="c_contract_header" id="c_phase"><b>phase</b>
                <div class="c_inner_row">
                    <text onclick="sort_alpha('container_contracts_table', 'down', 'phase')">down</text>
                    <text onclick="sort_alpha('container_contracts_table', 'up', 'phase')">up</text>
                </div>
            </div>
            <div class="c_contract_header" id="c_type"><b>type</b>
                <div class="c_inner_row">
                    <text onclick="sort_alpha('container_contracts_table', 'down', 'type')">down</text>
                    <text onclick="sort_alpha('container_contracts_table', 'up', 'type')">up</text>
                </div>
            </div>
            <div class="c_contract_header" id="c_lostudy"><b>level of study</b>
                <div class="c_inner_row">
                    <text onclick="sort_alpha('container_contracts_table', 'down', 'lostudy')">down</text>
                    <text onclick="sort_alpha('container_contracts_table', 'up', 'lostudy')">up</text>
                </div>
            </div>
            <div class="c_contract_header" id="c_subject"><b>subject</b>
                <div class="c_inner_row">
                    <text onclick="sort_alpha('container_contracts_table', 'down', 'subject')">down</text>
                    <text onclick="sort_alpha('container_contracts_table', 'up', 'subject')">up</text>
                </div>
            </div>
            <div class="c_contract_header" id="c_specialization_header"><b>specialization</b>
                <div class="c_inner_row">
                    <text onclick="sort_alpha('container_contracts_table', 'down', 'specialization')">down</text>
                    <text onclick="sort_alpha('container_contracts_table', 'up', 'specialization')">up</text>
                </div>
            </div>
            <div class="c_contract_header" id="c_deadline2"><b>assignment/test deadline</b>
                <div class="c_inner_row">
                    <text onclick="sort_alpha('container_contracts_table', 'down', 'deadline1')">down</text>
                    <text onclick="sort_alpha('container_contracts_table', 'up', 'deadline1')">up</text>
                </div>
            </div>
            <div class="c_contract_header" id="c_deadline1"><b>efbonus deadline</b><p></p>down - up</div>
            <div class="c_contract_header" id="c_bounty"><b>bounty</b>
                <div class="c_inner_row">
                    <text onclick="sort_alpha('container_contracts_table', 'down', 'bounty')">down</text>
                    <text onclick="sort_alpha('container_contracts_table', 'up', 'bounty')">up</text>
                </div>
            </div>
            <div class="c_contract_header" id="c_egbonus"><b>excellent grade bonus</b><p></p></div>
            <div class="c_contract_header" id="c_efbonus"><b>early finish bonus</b><p></p></div>
            <div class="c_contract_header" id="c_newmsg"><b>new chat msg</b><p></p></div>
        </div>
    </div>
    <div class="spacer"></div>
    <div id="create_contract"><a href="{{ url_for('create_contract') }}"><h3>create a new contract</h3></a></div>
    <div id="container_contracts_table">
        {% for doc in user_contracts|reverse %}
            <!-- can wrap row with a link -->
            <a href="{{ url_for('contract', contract_id=doc['_id'], message='none') }}">
                <div class="r_contract">
                    <!-- can wrap column with a link -->
                    <div class="c_contract">
                        {% if current_user.id_object == doc['owner'] %}
                            <b>position:</b><p>owner</p>
                        {% elif current_user.id_object == doc['bhunter'] %}
                            <b>position:</b><p>hunter</p>
                        {% else %}
                            <b>position:</b><p>interested party</p>
                        {% endif %}
                    </div>
                    <div class="c_contract"><b>phase:</b><p>{{ doc['phase'] }}</p></div>
                    <div class="c_contract"><b>type:</b><p>{{ doc['type_contract'] }}</p></div>
                    <div class="c_contract"><b>lvl of study:</b><p>{{ doc['lostudy'] }}</p></div>
                    <div class="c_contract"><b>subject:</b><p>{{ doc['subject'] }}</p></div>
                    <div class="c_contract" id="c_specialization"><b>specialization:</b><p>{{ doc['specialization'] }}</p></div>
                    {% if doc['type_contract'] == "assignment" %}
                        <div class="c_contract"><b>assignment deadline:</b><p>{{ doc['timeline'][3]['time'] }}</p></div>
                        {% if doc['timeline']|length > 5 %}
                            <div class="c_contract">{{ doc['timeline'][5]['time'] }}</div>
                        {% else %}
                            <div class="c_contract"><b>efbonus deadline:</b><p>no efbonus deadline</p></div>
                        {% endif %}
                        <div class="c_contract"><b>bounty:</b><p>{{ doc['bounty'] }}</p></div>
                    {% else %}
                        <div class="c_contract">
                            <b>test starts:</b><p>{{ doc['timeline'][2]['time'] }}</p>
                        </div>
                        <div class="c_contract">
                            {{ doc['timeline'][4]['time'] }}
                        </div>
                        <div class="c_contract">
                            <b>bounty:</b><p>{{ doc['bounty'] }}</p>
                        </div>
                    {% endif %}
                    {% if doc['phase'] not in data_obj['no_chat_msg_arr'] and doc['_id']|string in msg_arr %}
                        NEW msg!
                    {% elif doc['phase'] not in data_obj['no_chat_msg_arr'] %}
                        no new msg
                    {% endif %}
                </div>
            </a>
{#            <div class="spacer_row"></div>#}
        {% endfor %}
    </div>
{% endblock %}