<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic Page Needs –––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        {% block title %}{% endblock %}
        <meta name="description" content="An Answer Marketplace">
        <meta name="author" content="Answer Blasters">
        <!-- Mobile Specific Metas –––––––––––––––––––––––––––-–––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        {% block css %}{% endblock %}
        <!-- Scripts  ––––––––––––––––––––––––––––––––––––––––––––– -->
        <script src="{{url_for('static', filename='scripts/base.js')}}"></script>
        {% block scripts %}{% endblock %}
        <!-- Favicon  ––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">
    </head>
    <body>
        <div id="container_main">
            <div id="notice_construction">
                This website is under construction
            </div>
            <div id="navbar">
                {% if current_user.is_authenticated %}
                    <div>
                        IS AUTHENTICATED @ {{ data_obj['ip_address'] }}<p></p>
                        {{ current_user.id }}<p></p>
                        {{ current_user.email }}<p></p>
                        {{ current_user.username }}
                    </div>
                    <div>
                        here should go a popout element...
                        <p></p>
                        <a href="{{ url_for('logout') }}">LOGOUT</a>
                        <p></p>
                        <a href="{{ url_for('account') }}">AcCoUnT</a>
                        <p></p>
                        <a href="{{ url_for('index') }}">HOmE</a>
                        <p></p>
                        <a href="{{ url_for('market') }}">MARKet</a>
                    </div>
                {% else %}
                    <div>
                        IS NOT AUTHENTICATED @ {{ data_obj['ip_address'] }}
                    </div>
                    <div>
                        <a href="{{ url_for('login') }}">LOGin proper</a>
                        <p></p>
                        <a href="{{ url_for('register') }}">REGisTER</a>
                        <p></p>
                        <a href="{{ url_for('index') }}">HOme</a>
                    </div>

                {% endif %}
            </div>
            {% block body %}{% endblock %}
            <div id="footer">
                answerBlasters © 2022
            </div>
        </div>
    </body>
</html>