<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic Page Needs –––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        {% block title %}{% endblock %}
        <meta name="description" content="An Answer Marketplace">
        <meta name="author" content="Answer Blasters">
        <!-- Mobile Specific Metas –––––––––––––––––––––––––––-–––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        {% block css %}{% endblock %}
        <!-- Scripts  ––––––––––––––––––––––––––––––––––––––––––––– -->
        <script src="{{url_for('static', filename='scripts/js.js')}}"></script>
        <!-- Favicon  ––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">
    </head>
    <body>
        <div id="container_main">
            <div id="notice_construction">
                This website is under construction
            </div>
        <div>
            <a href="/">index</a> --- <a href="account">ACCOUNT</a> --- <a href="logout">logout</a>
        </div>
            {% block body %}{% endblock %}
            <div id="footer">
                answerBlasters © 2022
            </div>
        </div>
    </body>
</html>