<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic Page Needs –––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        {% block title %}{% endblock %}
        <meta name="description" content="An Answer Marketplace">
        <meta name="author" content="Answer Blasters">
        <!-- Mobile Specific Metas –––––––––––––––––––––––––––-–––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        {% block css %}{% endblock %}
        <!-- Scripts  ––––––––––––––––––––––––––––––––––––––––––––– -->
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='scripts/base.js')}}"></script>
        {% block scripts %}{% endblock %}
        <!-- Favicon  ––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">
    </head>
    <body>
        <div id="container_navbar">
            <div id="notice_construction">
                This website is under construction
            </div>
        </div>
        <div id="navbar_spacer"></div>
        <div id="container_main">{# CONTAINER MAIN #}
            {% block body %}{% endblock %}
            <div id="footer">
                <p>answerBounty © 2022</p>
                <div id="footer_row">
                    <div class="footer_row_item">
                        <p>contact stuff...</p>
                        <p>support@answerbounty.com</p>
                    </div>
                    <div class="footer_row_item">
                        <p>links...</p>
                        <p><a href="{{ url_for('index') }}">home</a> - <a href="{{ url_for('index') }}">about</a></p>
                    </div>
                </div>
            </div>
            {% if current_user.is_authenticated %}
                <div>
                    IS AUTHENTICATED @ {{ data_obj['ip_address'] }}<p></p>
                    {{ current_user.id }}<p></p>
                    {{ current_user.email }}<p></p>
                    {{ current_user.username }}
                </div>
            {% else %}
                <div>
                    IS NOT AUTHENTICATED @ {{ data_obj['ip_address'] }}
                </div>
            {% endif %}
        </div>
    </body>
</html>