{% extends "base.html" %}
{% block title %}<title>contract {{ contract_obj['_id'] }}</title>{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/contract.css') }}">{% endblock %}
{% block body %}
    {{ data_obj['message'] }}
    <div>
        {# PHASE: CREATION #}
        {% if contract_obj['phase'] == "creation" %}
            <a href="{{ url_for('set_open', contract_id=contract_obj['_id']) }}">MOVE TO OPEN</a><p></p>
            <a href="{{ url_for('cancel_contract', contract_id=contract_obj['_id']) }}">CANCEL BOUNTY</a><p></p>
        {% endif %}
        {# PHASE: CREATION #}
        {# PHASE: OPEN #}
        {% if contract_obj['phase'] == "open" %}
            contract is phase: "open"<p></p>
            {# show for anyone that's NOT the owner and has NOT offered on the contract yet #}
            {% if (current_user.id_object != contract_obj['owner']) and not data_obj['bhunter_offer'] %}
                make an offer on this contract:<p></p>
                <form id="make_offer_form" method="post" name="make_offer_form">
                    For what amount will you take on this contract? <input id="m_o_f_offer" min="{{ contract_obj['bounty'] }}" name="m_o_f_offer" placeholder="$0.00" step="0.01" required type="number"><p></p>
                    <button type="submit">submit</button>
                </form>
            {# show for bhunter that's already offered on contract #}
            {% elif data_obj['bhunter_offer'] %}
                Your existing offer on this contract:<p></p>
                offer: {{ data_obj['bhunter_offer']['offer'] }}
                time: {{ data_obj['bhunter_offer']['time'] }}
            {# show for the contract owner... maybe add another elif here? #}
            {% else %}
                <a href="{{ url_for('cancel_contract', contract_id=contract_obj['_id']) }}">CANCEL BOUNTY</a><p></p>
                {% for party in contract_obj['iparties'] %}
                    <div id="div_i_party">
                        interested party:<p></p>
                        <a href="{{ url_for('view_user', userid=party['bhunter']) }}">bounty hunter:    {{ party['bhunter'] }}</a><p></p>
                        offer:    <b>$ {{ party['offer'] }}</b><p></p>
                        time:    {{ party['time'] }}<p></p>
                        <a href="{{ url_for('accept_offer', bhunter_id=party['bhunter'], contract_id=contract_obj['_id'], offer=party['offer']) }}">ACCepT Offer</a>
                    </div>
                    <p></p>
                {% endfor %}
            {% endif %}
        {% endif %}
        {# PHASE: OPEN #}
        {# PHASE: INPROGRESS #}
        {% if contract_obj['phase'] == "inprogress" %}
            {# PHASE: INPROGRESS: ASSIGNMENT #}
            {% if contract_obj['type_contract'] == 'assignment' %}
                {#            <a href="{{ url_for('set_disputed', contractid=contract_obj['_id']) }}">link: set contract as disputed</a><p></p>#}
                bounty hunter: {{ contract_obj['bhunter'] }}<p></p>
                -----<p></p>
                {% if contract_obj['owner'] == current_user.id_object %}
                    waiting on submission from bount hunter...<p></p>
                {% endif %}
                {% if contract_obj['bhunter'] == current_user.id_object %}
                    submit assignment for validation:
                    <form action="{{ url_for('submit_assignment', contract_id=contract_obj['_id']) }}" enctype="multipart/form-data" id="submission" method="post" name="submission">
                        <input id="afile" name="assignment_file" required type="file"><p></p>
                        submit file?    <button type="submit">submit submission</button>
                    </form>
                {% endif %}
            {% endif %}
            {# PHASE: INPROGRESS: TEST #}
            {% if contract_obj['type_contract'] == 'test' %}
            {% endif %}
        {% endif %}
        {# PHASE: INPROGRESS #}
        {# PHASE: STALLED #}
        {% if contract_obj['phase'] == "stalled" %}
        {% endif %}
        {# PHASE: STALLED #}
        {# PHASE: VALIDATION #}
        {% if contract_obj['phase'] == 'validation' %}
            contract is in process of validation for assignment only???...<p></p>
            // submission goes here...<p></p><p></p>
            {% if current_user.id_object == contract_obj['owner'] %}
                <a href="{{ url_for('download_submission', filename=contract_obj['asubmission']) }}" download>DOWNLOAD bhunter's submission</a><p></p>
                <form action="{{ url_for('approve_submission', contract_id=contract_obj['_id']) }}" id="approve_submission" method="post" name="approve_submission">
                    <input id="a_f_approval" name="a_f_approval" required type="checkbox" value="true"><p></p>
                    approve this submission?    <button type="submit">approve submission</button>
                </form>
            {% endif %}
            {% if current_user.id_object == contract_obj['bhunter'] %}
                waiting for owner to validation your submission...<p></p>
                // link for resubmission in case of submit mistake?
            {% endif %}
        {% endif %}
        {# PHASE: VALIDATION #}
        {# PHASE: APPROVED #}
        {% if contract_obj['phase'] == 'approved' %}
            approved contract for assignment only atm...<p></p><p></p>
            {% if contract_obj['bhunter'] == current_user.id_object %}
                // if the grade deadline was the same as the due deadline then there is no excellent grade bonus<p></p><p></p>
                // if there was a good grade bonus you'll need to wait until the owner submits the grade or the deadline passes...
            {% endif %}
            {% if contract_obj['owner'] == current_user.id_object %}
                <b>// waiting for grade</b><p></p>
                // here will go a form for uploading proof of the grade:<p></p>
                <form action="{{ url_for('submit_grade', contract_id=contract_obj['_id']) }}" enctype="multipart/form-data" id="submit_grade" method="post" name="submit_grade">
                    did the grade meet or exceed the excellent grade bonus requirement?
                    yes: <input id="s_f_yes" name="s_f_yon" required type="radio" value="true">
                    no: <input id="s_f_no" name="s_f_yon" required type="radio" value="false"><p></p>
                    grade proof: <input id="grade_file" name="grade_file" required type="file"><p></p>
                    submit grade proof    <button type="submit">submit grade</button>
                </form>
                proof of grade:
            {% endif %}
        {% endif %}
        {# PHASE: APPROVED #}
        {# PHASE: GRADEVALIDATION #}
        {% if contract_obj['phase'] == 'gradevalidation' %}
            gradevalidation...<p></p>
            {% if contract_obj['bhunter'] == current_user.id_object %}
                bhunter view<p></p>
                <a href="{{ url_for('download_grade_proof', filename=contract_obj['gsubmission']) }}" download>DOWNLOAD leh gradepruf</a><p></p>
                <form action="{{ url_for('set_dors', contract_id=contract_obj['_id']) }}" id="set_dispute" method="post" name="set_dispute">
                    do you dispute the proof?<p></p>
                    yes: <input id="s_f_d_yes" name="s_f_d_yon" required type="radio" value="disputed">
                    no: <input id="s_f_d_no" name="s_f_d_yon" required type="radio" value="rating"><p></p>
                    submit dispute    <button type="submit">submit dispute form</button>
                </form>
            {% endif %}
            {% if contract_obj['owner'] == current_user.id_object %}
                owner view:<p></p>
                waiting for bount hunter to accept your grade proof...
            {% endif %}
        {% endif %}
        {# PHASE: GRADEVALIDATION #}
        {# PHASE: DISPUTED #}
        {% if contract_obj['phase'] == 'disputed' %}
            {{ contract_obj['clog'][-1] }}
        {% endif %}
        {# PHASE: DISPUTED #}
        {# PHASE: SUCCESSFUL #}
        {% if contract_obj['phase'] == 'successful' %}
            <b>successFUL</b><p></p>
            {% if contract_obj['bhunter'] == current_user.id_object %}
                bhunter view<p></p>
            {% endif %}
            {% if contract_obj['owner'] == current_user.id_object %}
                owner view:<p></p>
            {% endif %}
            {% if contract_obj['reviews']|length == 2 %}
                {% for review in contract_obj['reviews'] %}
                    user: {{ review['user'] }}<p></p>
                    rating: {{ review['rating'] }}<p></p>
                    comment: {{ review['comment'] }}<p></p>
                {% endfor %}
            {% endif %}
        {% endif %}
        {# PHASE: SUCCESSFUL #}
        {# PHASE: RATING #}
        {% if contract_obj['phase'] == 'rating' %}
            rating...<p></p>
            {% if contract_obj['bhunter'] == current_user.id_object %}
                bhunter view<p></p>
                <form action="{{ url_for('submit_rating', contract_id=contract_obj['_id']) }}" id="submit_rating" method="post" name="submit_rating">
                    how do you rate the owner of the bounty? <input id="s_r_f_rating" max="100" min="0" name="s_r_f_rating" required type="number"><p></p>
                    comment: <p></p>
                    <input id="s_r_f_comment" minlength="4" name="s_r_f_comment" required type="text"><p></p>
                    submit rating    <button type="submit">submit rating</button>
                </form>
            {% endif %}
            {% if contract_obj['owner'] == current_user.id_object %}
                owner view:<p></p>
                <form action="{{ url_for('submit_rating', contract_id=contract_obj['_id']) }}" id="submit_rating" method="post" name="submit_rating">
                    how do you rate the bhunter? <input id="s_r_f_rating" max="100" min="0" name="s_r_f_rating" required type="number"><p></p>
                    comment: <p></p>
                    <input id="s_r_f_comment" minlength="4" name="s_r_f_comment" required type="text"><p></p>
                    submit rating    <button type="submit">submit rating</button>
                </form>
            {% endif %}
        {% endif %}
        {# PHASE: RATING #}
        {# other phases ...#}
        <p></p>
        <b>phase: {{ contract_obj['phase'] }}</b><p></p>
        {% if contract_obj['owner'] == current_user.id_object %}
            owner: you<p></p>
        {% else %}
            owner: {{ contract_obj['owner'] }}<p></p>
        {% endif %}
        contractid: {{ contract_obj['_id'] }}<p></p>
        bounty: {{ contract_obj['bounty'] }}<p></p>
        type: {{ contract_obj['type_contract'] }}<p></p>
        level of study: {{ contract_obj['lostudy'] }}<p></p>
        subject: {{ contract_obj['subject'] }}<p></p>
        specialization: {{ contract_obj['specialization'] }}<p></p>
        sampleText: {{ contract_obj['sampleText'] }}<p></p>
        {% if contract_obj['sampleUp'] != None %}
            sampleUp: <a href="{{ url_for('download_sample', filename=contract_obj['sampleUp']) }}" download>DOWNLOAD THE FILE MAN</a><p></p>
        {% endif %}
        ----<p></p>
        {% if contract_obj['type_contract'] == 'assignment' %}
            deadline: due: {{ contract_obj['timeline'][2] }}<p></p>
        {% endif %}
        {% if contract_obj['type_contract'] == 'test' %}
            deadline: test start: {{ contract_obj['timeline'][2] }}<p></p>
            deadline: test end: {{ contract_obj['timeline'][3] }}<p></p>
        {% endif %}
        {# CHAT #}
        {% if contract_obj['phase'] == 'inprogress' or contract_obj['phase'] == 'disputed' or contract_obj['phase'] == 'validation' or contract_obj['phase'] == 'gradevalidation' or contract_obj['phase'] == 'successful' %}
            {# CHAT: MAIN #}
            <div id="chat_main">
                {% if contract_obj['chat']|length > 0 %}
                    {% for chat in contract_obj['chat'] %}
                        <div class="chat_row">
                            user: {{ chat['user'] }}  //  mood: {{ chat['mood'] }}  // time: {{ chat['time'] }}<p></p>
                            message: {{ chat['message'] }}<p></p>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if contract_obj['phase'] != 'successful' %}
                    <div id="chat_send">
                        chat send input and button...
                        <form id="chat_send" method="post" name="chat_send">
                            <input id="c_s_f_message" name="c_s_f_message" placeholder="your message here..." required type="text">
                            <input id="c_s_f_mood" name="c_s_f_mood" placeholder="your mood here..." type="text"><p></p>
                            send this chat?    <button type="submit">submit chat</button>
                        </form>
                    </div>
                {% endif %}
            </div>
            {# CHAT: MAIN #}
        {% endif %}
    </div>
{% endblock %}