{# incomplete 07-21-2022 #}
{# add in MIT license for chartjs #}
{% extends "base.html" %}
{% block title %}<title>contract {{ contract_obj['_id'] }}</title>{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/contract.css') }}">{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='scripts/contract.js')}}"></script>
{#    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.2/dist/chart.min.js" integrity="sha256-srZ7wC4CLlY0F9UFji68dTwYJQ5o93Quq2+iyQ4gH/I=" crossorigin="anonymous"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js" integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>#}
    <script>console.log({{ contract_obj['phase']|tojson }});</script>
{% endblock %}
{% block body %}
    <div id="header_logo_behind"></div>
    <div id="header_logo"></div>
    <div id="nav_row_top">
        <div id="nav_top_col1">
            <a href="{{ url_for('account') }}"><div class="nav_top_cell">account</div></a>
            <a href="{{ url_for('market') }}"><div class="nav_top_cell">market</div></a>
            <a href="{{ url_for('index') }}"><div class="nav_top_cell">tutorial</div></a>
        </div>
        <div id="nav_top_col2">
            <h1>bounty value: ${{ data_obj['earnable'] }}</h1>
        </div>
        <div id="nav_top_col3">
            <a href="{{ url_for('logout') }}">
                <div id="button_logout">
                </div>
            </a>
        </div>
    </div>
    {% if data_obj['message'] and data_obj['message'] != 'none' %}
    <div style="text-align: center">{{ data_obj['message'] }}</div>
    {% endif %}
    <div id="container_graph"></div>
    <div id="user_timezone"></div>
    <div id="container_input">
        {# PHASE: CREATION #}
        {% if contract_obj['phase'] == 'creation' %}
        <div id="container_input_row">
            <div>
            <a href="{{ url_for('cancel_contract', contract_id=contract_obj['_id']) }}">CANCEL BOUNTY</a>
            </div>
            <div>
                <a href="{{ url_for('set_open', contract_id=contract_obj['_id']) }}">MOVE TO OPEN</a>
            </div>
        </div>
        {% endif %}
        {# PHASE: CREATION #}
        {# PHASE: OPEN #}
        {% if contract_obj['phase'] == 'open' and  contract_obj['owner'] == current_user.id_object %}
        <div>
            <a href="{{ url_for('cancel_contract', contract_id=contract_obj['_id']) }}">CANCEL BOUNTY</a>
        </div>
        {% endif %}
        {# PHASE: OPEN #}
        {# INTERESTED PARTIES #}
        {% if contract_obj['phase'] == "open" %}
            {# show for anyone that's NOT the owner and has NOT offered on the contract yet #}
            {% if (current_user.id_object != contract_obj['owner']) and not data_obj['bhunter_offer'] %}
                <span style="font-size: large;font-weight: bold">make an offer on this contract:</span><br><br>
                <form id="make_offer_form" method="post" name="make_offer_form">
                    For what amount will you take on this contract?
                    <input id="m_o_f_offer" min="{{ contract_obj['bounty'] }}" name="m_o_f_offer" placeholder="$0.00" step="0.01" required type="number"><br>
                    <i style="color: red; font-size: small">once an offer is submitted it cannot be canceled or changed at the moment...</i><br>
                    <button type="submit">submit</button>
                </form>
            {# show for bhunter that's already offered on contract #}
            {% elif data_obj['bhunter_offer'] %}
                Your existing offer on this contract:
                <span>${{ data_obj['bhunter_offer']['offer'] }}</span>
                <span>{{ data_obj['bhunter_offer']['time'].strftime('%h %d @ %H:%M') }}</span>
            {# show for the contract owner... maybe add another elif here? #}
            {% else %}
                <div id="div_iparty_row">
                {% for party in contract_obj['iparties'] %}
                    <div id="div_iparty_cell">
                        <span><a href="{{ url_for('view_user', user_id=party['bhunter']) }}">{{ party['bhunter_uname'] }}</a></span>
                        {% if contract_obj['bounty'] == party['offer'] %}
                            <span style="color: green"><i>agreed to your original offer</i></span>
                        {% else %}
                            <span style="color: red">counter offer: <b>$ {{ party['offer'] }}</b></span>
                        {% endif %}
                        <span style="font-size: small">{{ party['time'].strftime('%h %d') }} @ {{ party['time'].strftime('%H:%M') }}</span>
                        <a href="{{ url_for('accept_ip_offer', bhunter_id=party['bhunter'], bhunter_uname=party['bhunter_uname'], contract_id=contract_obj['_id'], offer=party['offer']) }}">accept offer</a>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        {% endif %}
        {# END INTERESTED PARTIES #}
        {# PHASE: STALLED #}
        {% if contract_obj['phase'] == "stalled" %}
        {% endif %}
        {# PHASE: STALLED #}
        {# PHASE: INPROGRESS #}
        {% if contract_obj['phase'] == "inprogress" %}
            {# PHASE: INPROGRESS: ASSIGNMENT #}
            {% if contract_obj['type_contract'] == 'assignment' %}
                {#            <a href="{{ url_for('set_disputed', contractid=contract_obj['_id']) }}">link: set contract as disputed</a><p></p>#}
                {% if contract_obj['owner'] == current_user.id_object %}
                    waiting on submission from bount hunter...
                {% endif %}
                {% if contract_obj['bhunter'] == current_user.id_object %}
                    submit assignment for validation:
                    <form action="{{ url_for('submit_assignment', contract_id=contract_obj['_id']) }}" enctype="multipart/form-data" id="submission" method="post" name="submission">
                        <input id="afile" name="assignment_file" required type="file"><p></p>
                        <button type="submit">submit submission</button>
                    </form>
                {% endif %}
            {% endif %}
            {# PHASE: INPROGRESS: TEST #}
            {% if contract_obj['type_contract'] == 'test' %}
                <div id="div_neutral">
                    waiting for test to begin...
                </div>
            {% endif %}
        {% endif %}
        {# PHASE: INPROGRESS #}
        {# PHASE: VALIDATION #}
        {% if contract_obj['phase'] == 'validation' %}
            <b><i>there should be a test AND assignment version...</i></b><p></p>
            {% if current_user.id_object == contract_obj['owner'] %}
                {% if contract_obj['type_contract'] == 'assignment' %}
                    <a href="{{ url_for('download_submission', filename=contract_obj['asubmission']) }}" download>DOWNLOAD bhunter's submission</a><p></p>
                    Does the submission meet the standard as defined in: <i>stuff here...</i> ???
                    <form action="{{ url_for('yon_asubmission', contract_id=contract_obj['_id']) }}" id="submission_decision" method="post" name="submission_decision">
                        no: <input id="s_d_no" name="s_d_yon" required type="radio" value="false">
                        yes: <input id="s_d_yes" name="s_d_yon" required type="radio" value="true"><p></p>
                        <b><i>here will go a series of checkboxes that represent the many different reasons why a submission might be deficient</i></b><p></p>
                        Submit to accept submission or set contract into dispute    <button type="submit">submit grade</button>
                    </form>
                {% else %}
                    Did your bounty hunter participate in your test as required in: <i>stuff here...</i> ???
                    <form action="{{ url_for('yon_asubmission', contract_id=contract_obj['_id']) }}" id="submission_decision" method="post" name="submission_decision">
                        no: <input id="s_d_no" name="s_d_yon" required type="radio" value="false">
                        yes: <input id="s_d_yes" name="s_d_yon" required type="radio" value="true"><p></p>
                        <b><i>here will go a series of checkboxes that represent the many different reasons why a submission might be deficient</i></b><p></p>
                        Submit to accept submission or set contract into dispute    <button type="submit">submit grade</button>
                    </form>
                {% endif %}

            {% endif %}
            {% if current_user.id_object == contract_obj['bhunter'] %}
                waiting for owner to validation your submission...<p></p>
                // link for resubmission in case of submit mistake?
            {% endif %}
        {% endif %}
        {# PHASE: VALIDATION #}
        {# PHASE: APPROVED #}
        {% if contract_obj['phase'] == 'approved' %}
            {% if contract_obj['bhunter'] == current_user.id_object %}
                waiting for owner to submit grade proof...
            {% endif %}
            {% if contract_obj['owner'] == current_user.id_object %}
                <form action="{{ url_for('submit_grade', contract_id=contract_obj['_id']) }}" enctype="multipart/form-data" id="submit_grade" method="post" name="submit_grade">
                    did the grade meet or exceed the excellent grade bonus requirement?
                    yes: <input id="s_f_yes" name="s_f_yon" onclick="grade_yes()" required type="radio" value="true">
                    no: <input id="s_f_no" name="s_f_yon" onclick="grade_no()" required type="radio" value="false"><p></p>
                    <div id="div_grade_proof">
                        grade proof: <input id="grade_file" name="grade_file" type="file"><p></p>
                    </div>
                    submit the grade decision <button type="submit">submit decision</button><p></p>
                </form>
            {% endif %}
{#            <i>link to grade proof here??? Both should be able to view</i>#}
        {% endif %}
        {# PHASE: APPROVED #}
        {# PHASE: GRADEVALIDATION #}
        {% if contract_obj['phase'] == 'gradevalidation' %}
            {% if contract_obj['bhunter'] == current_user.id_object %}
                <a href="{{ url_for('download_grade_proof', filename=contract_obj['gsubmission']) }}" download>DOWNLOAD leh gradepruf</a><p></p>
                <form action="{{ url_for('set_dors', contract_id=contract_obj['_id']) }}" id="set_dispute" method="post" name="set_dispute">
                    do you dispute the proof?<p></p>
                    yes: <input id="s_f_d_yes" name="s_f_d_yon" required type="radio" value="disputed">
                    no: <input id="s_f_d_no" name="s_f_d_yon" required type="radio" value="rating"><p></p>
                    <button type="submit">submit decision</button>
                </form>
            {% endif %}
            {% if contract_obj['owner'] == current_user.id_object %}
                waiting for bount hunter to accept your grade proof...
            {% endif %}
        {% endif %}
        {# PHASE: GRADEVALIDATION #}
        {# PHASE: DISPUTED #}
        {% if contract_obj['phase'] == 'disputed' %}
            {{ contract_obj['clog'][-1] }}
        {% endif %}
        {# PHASE: DISPUTED #}
        {# PHASE: SUCCESSFUL #}
        {% if contract_obj['phase'] == 'successful' %}
            <b>successFUL</b><p></p>
            {% if contract_obj['bhunter'] == current_user.id_object %}
                bhunter view<p></p>
            {% endif %}
            {% if contract_obj['owner'] == current_user.id_object %}
                owner view:<p></p>
            {% endif %}
            {% if contract_obj['reviews']|length == 2 %}
                {% for review in contract_obj['reviews'] %}
                    user: {{ review['user'] }}<p></p>
                    rating: {{ review['rating'] }}<p></p>
                    comment: {{ review['comment'] }}<p></p>
                {% endfor %}
            {% endif %}
        {% endif %}
        {# PHASE: SUCCESSFUL #}
        {# PHASE: RATING #}
        {% if contract_obj['phase'] == 'rating' %}
            {% if contract_obj['bhunter'] == current_user.id_object %}
                {% if contract_obj['bhunter'] not in data_obj['reviewers'] %}
                    <form action="{{ url_for('submit_rating', contract_id=contract_obj['_id']) }}" id="submit_rating" method="post" name="submit_rating">
                        how do you rate the owner of the bounty? <input id="s_r_f_rating" max="100" min="0" name="s_r_f_rating" required type="number"><p></p>
                        comment: <p></p>
                        <input id="s_r_f_comment" minlength="4" name="s_r_f_comment" required type="text"><p></p>
                        <button type="submit">submit rating</button>
                    </form>
                {% endif %}
                {% if contract_obj['owner'] not in data_obj['reviewers'] %}
                    <div>
                        the bounty owner has not submitted their rating yet...
                    </div>
                {% endif %}
            {% endif %}
            {% if contract_obj['owner'] == current_user.id_object %}
                {% if contract_obj['owner'] not in data_obj['reviewers'] %}
                    <form action="{{ url_for('submit_rating', contract_id=contract_obj['_id']) }}" id="submit_rating" method="post" name="submit_rating">
                    how do you rate the bhunter? <input id="s_r_f_rating" max="100" min="0" name="s_r_f_rating" required type="number"><p></p>
                    comment: <p></p>
                    <input id="s_r_f_comment" minlength="4" name="s_r_f_comment" required type="text"><p></p>
                    <button type="submit">submit rating</button>
                </form>
                {% endif %}
                {% if contract_obj['bhunter'] not in data_obj['reviewers'] %}
                    <div>
                        the bounty hunter has not submitted their rating yet...
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
        {# PHASE: RATING #}
        {# other phases ...#}
    </div>
     <div id="info1_container">
        <div id="info1_main_col">
            <div class="c_row">
                <div>bounty: <b>${{ contract_obj['bounty'] }}</b></div>
                {% if contract_obj['efbonus'] > 0 %}
                    {% if contract_obj['efbonusyon'] %}
                        <div>early finish bonus: <b>${{ contract_obj['efbonus'] }}</b></div>
                    {% else %}
                        <div><s>early finish bonus: <b>${{ contract_obj['efbonus'] }}</b></s></div>
                    {% endif %}
                {% endif %}
                {% if contract_obj['egbonus'] > 0 %}
                    <div>excellent grade bonus: <b>${{ contract_obj['egbonus'] }}</b></div>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="info2_container">
        <div class="c_row">
            <div>
                {{ contract_obj['type_contract'] }}
            </div>
            <div>owner: <a href="{{ url_for('view_user', user_id=contract_obj['owner']) }}">{{ contract_obj['owner_uname'] }}</a></div>
            {% if contract_obj['bhunter_uname'] != None %}
                    <div>bounty hunter: <a href="{{ url_for('view_user', user_id=contract_obj['bhunter']) }}">{{ contract_obj['bhunter_uname'] }}</a></div>
            {% endif %}
        </div>
        <div id="div_phase">
            {% if contract_obj['phase'] in data_obj['disputed_arr'] %}
                <a href="{{ url_for('set_disputed', contractid=contract_obj['_id']) }}">link: set contract as disputed</a>
            {% endif %}
        </div>
        <div class="c_row">
            <div>level of study: {{ contract_obj['lostudy'] }}</div>
            <div>subject: {{ contract_obj['subject'] }}</div>
            <div>specialization: {{ contract_obj['specialization'] }}</div>
        </div>
        <div id="div_instructions_column">
            {{ contract_obj['type_contract'] }} instructions:
            <div id="div_instructions_row">{{ contract_obj['instructions'] }}</div>
        </div>
        <div class="c_row c_textcenter">
            sample file:
            {% if contract_obj['sampleUp'] != None %}
                <a href="{{ url_for('download_sample', filename=contract_obj['sampleUp']) }}" download>DOWNLOAD THE FILE MAN</a>
            {% else %}
                no sample file uploaded
            {% endif %}
        </div>
    </div>
    {# CHAT #}
    <div id="container_chat">
        {% if contract_obj['phase'] == 'inprogress' or contract_obj['phase'] == 'disputed' or contract_obj['phase'] == 'validation' or contract_obj['phase'] == 'gradevalidation' or contract_obj['phase'] == 'successful' or contract_obj['phase'] == 'rating' %}
            <div style="font-size: x-large; padding: 15px;">
                bounty chat
            </div>
            {# SEND CHAT #}
            {# chats cannot be sent once contract is successful #}
            {% if contract_obj['phase'] != 'successful' %}
                <div id="div_chat_send">
                    <form id="chat_send_form" method="post" name="chat_send_form">
                        <input id="c_s_f_message" name="c_s_f_message" placeholder="your message here..." required type="text"><br>
                        <input id="c_s_f_mood" maxlength="24" name="c_s_f_mood" placeholder="your mood here..." type="text"><br>
                        <div id="div_chat_button">
                            <button type="submit">send</button>
                        </div>
                    </form>
                </div>
            {% endif %}
            {# READ CHAT #}
            {% if contract_obj['chat']|length > 0 %}
                <div id="div_chat_read">
                    {% for chat in contract_obj['chat']|reverse %}
                        {% if current_user.username == chat['username'] %}
                            <div class="chat_row_lb">
                        {% else %}
                            <div class="chat_row_lg">
                        {% endif %}
                            <div class="chat_row_top" >
                                <span><b>{{ chat['username'] }}</b> @ {{ chat['time'].strftime('%H:%M') }} on {{ chat['time'].strftime('%h %d, %Y') }}</span>
                                <span><i>mood</i>: {{ chat['mood'] }}</span>
                            </div>
                            <div class="chat_row_bottom">
                                {{ chat['message'] }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        {% endif %}
    </div>
    <div>
        approved contract for assignment only atm...<- is this true?
    </div>
{#    <script src="{{url_for('static', filename='scripts/contract_chart.js')}}"></script>#}
    <script>
        set_timeline_graph({{ contract_obj['phase']|tojson }}, {{ contract_obj['timeline']|tojson }});
    </script>
{% endblock %}