{% extends "base.html" %}
{% block title %}<title>answerBlasters: welcome!</title>{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">{% endblock %}
{% block body %}
    {{ data_obj['message'] }}
    <div id="container_header">
        <div id="header_logo">
        </div>
    </div>
    <div class="container" id="container_market">
        <div style="text-align: center">
            <b>some open contracts on the market:</b><p></p>
        </div>
        {% for doc in c_top %}
            <!-- can wrap row with a link -->
            <div class="row_market">
                <!-- can wrap column with a link -->
                <div class="column_market_leftmost">
                    <b>type</b>{{ doc['type_contract'] }}
                </div>
                <div class="column_market">
                    <b>level of study</b>{{ doc['lostudy'] }}
                </div>
                <div class="column_market_subject">
                    <b>subject</b>{{ doc['subject'] }}
                </div>
                <div class="column_market_specialization">
                    <b>specialization</b>{{ doc['specialization'] }}
                </div>
                {% if doc['type_contract'] == "assignment" %}
                    <div class="column_market">
                        <b>bounty</b>{{ doc['bounty'] }}
                    </div>
                    <div class="column_market">
                        <b>egbonus</b>{{ doc['egbonus'] }}
                    </div>
                    <div class="column_market">
                        <b>efbonus</b>{{ doc['efbonus'] }}
                    </div>
                    <div class="column_market_rightmost">
                        <b>due deadline</b>{{ doc['timeline'][3]['time'] }}
                    </div>
                {% else %}
                    <div class="column_market">
                        {{ doc['timeline'][3]['time'] }}
                    </div>
                    <div class="column_market">
                        {{ doc['timeline'][4]['time'] }}
                    </div>
                    <div class="column_market">
                        <b>bounty</b>{{ doc['bounty'] }}
                    </div>
                    <div class="column_market">
                        <b>egbonus</b>{{ doc['egbonus'] }}
                    </div>
                    <div class="column_market_rightmost">
                        filler...
                    </div>
                {% endif %}
            </div>
            <div class="spacer_row">
            </div>
        {% endfor %}
{#        <div id="c_m_bottom">#}
{#            AND STUFF<p></p>stuff#}
{#        </div>#}
    </div>
    <div class="spacer"></div>
    <div id="container_how">
        stuff here too container_how<p></p>
        asdfasdfasdf<p></p>
        stuff here too container_how<p></p>
        asdfasdfasdf<p></p>
    </div>
    <div id="container_next1">
        container_next1
    </div>
    <div id="container_next2">
        container_next2
    </div>
{% endblock %}