{% extends "base.html" %}
{% block title %}<title>answerBlasters: welcome!</title>{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">{% endblock %}
{% block body %}
    {{ data_obj['message'] }}
    <div id="container_header">
        <div id="header_logo">
            <a href="/">answerBlasters logo</a>
        </div>
    </div>
    <div id="container_market">
        <div id="c_m_top">
            <h3>open contracts currently on the market:</h3>
            <div>
                login/register to create your own contracts or collect the bounty on others!<p></p>
            </div>
        </div>
        {% for doc in c_top %}
            <!-- can wrap row with a link -->
            <div class="row_market">
                <!-- can wrap column with a link -->
                <div class="column_market">
                    <b>type</b>{{ doc['type_contract'] }}
                </div>
                <div class="column_market">
                    <b>level of study</b>{{ doc['lostudy'] }}
                </div>
                <div class="column_market_subject">
                    <b>subject</b>{{ doc['subject'] }}
                </div>
                <div class="column_market_specialization">
                    <b>specialization</b>{{ doc['specialization'] }}
                </div>
                {% if doc['type_contract'] == "assignment" %}
                    <div class="column_market">
                        <b>bounty</b>{{ doc['bounty'] }}
                    </div>
                    <div class="column_market">
                        <b>egbonus</b>{{ doc['egbonus'] }}
                    </div>
                    <div class="column_market">
                        <b>efbonus</b>{{ doc['efbonus'] }}
                    </div>
                    <div class="column_market">
                        <b>due deadline</b>{{ doc['timeline'][3]['time'] }}
                    </div>
                    {% if doc['timeline']|length > 5 %}
                        <div class="column_market">
                            {{ doc['timeline'][5]['time'] }}
                        </div>
                    {% else %}
                        <div class="column_market">
                            no efbonus deadline
                        </div>
                    {% endif %}
                {% else %}
                    <div class="column_market">
                        {{ doc['timeline'][3]['time'] }}
                    </div>
                    <div class="column_market">
                        {{ doc['timeline'][4]['time'] }}
                    </div>
                    <div class="column_market">
                        <b>bounty</b>{{ doc['bounty'] }}
                    </div>
                    <div class="column_market">
                        <b>egbonus</b>{{ doc['egbonus'] }}
                    </div>
                    <div class="column_market">
                        filler...
                    </div>
                {% endif %}
                <div class="column_market">
                    <b>contract owner</b>{{ doc['owner'] }}
                </div>
            </div>
            <div class="spacer">
            </div>
        {% endfor %}
        <div id="c_m_bottom">
            AND STUFF<p></p>stuff
        </div>
    </div>
    <div id="container_how">
        stuff here too container_how<p></p>
        asdfasdfasdf<p></p>
        stuff here too container_how<p></p>
        asdfasdfasdf<p></p>
    </div>
{% endblock %}