{% extends "base.html" %}
{% block title %}<title>answerBlasters: LOGIN BROTHERS AND SISTERS</title>{% endblock %}
{% block css %}{% endblock %}
{% block body %}
    <div id="login_main">
        <p></p>
        <form action="" method="post">
            <input name="email" placeholder="email..."><!-- verify -->
            <input name="password" pattern="^[^<>/?$]{12,32}$" placeholder="password..." type="password"><!-- verify -->
            <button type="submit">submit</button>
        </form>
    </div>
{% endblock %}