{% extends "base.html" %}
{% block title %}<title>MARKET</title>{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/market.css') }}">{% endblock %}
{% block scripts %}<script src="{{url_for('static', filename='scripts/market.js')}}"></script>{% endblock %}
{% block body %}
    <div id="container_header">
        <div id="header_logo">
        </div>
    </div>
    <div id="market_main">
        {{ data_obj['message'] }}
        <div id="container_market_header">
            <div id="c_m_h_row">
                <div class="column_market">
                    <b>type</b>
                    <div class="c_inner_row">
                        <text onclick="sort_alpha('container_market_table', 'down', 'type')">down</text>
                        <text onclick="sort_alpha('container_market_table', 'up', 'type')">up</text>
                    </div>
                </div>
                <div class="column_market">
                    <b>level of study</b>
                    <div class="c_inner_row">
                        <text onclick="sort_alpha('container_market_table', 'down', 'lostudy')">down</text>
                        <text onclick="sort_alpha('container_market_table', 'up', 'lostudy')">up</text>
                    </div>
                </div>
                <div class="column_market">
                    <b>subject</b>
                    <div class="c_inner_row">
                        <text onclick="sort_alpha('container_market_table', 'down', 'subject')">down</text>
                        <text onclick="sort_alpha('container_market_table', 'up', 'subject')">up</text>
                    </div>
                </div>
                <div class="column_market" id="col_specialization">
                    <b>specialization</b>
                    <div class="c_inner_row">
                        <text onclick="sort_alpha('container_market_table', 'down', 'specialization')">down</text>
                        <text onclick="sort_alpha('container_market_table', 'up', 'specialization')">up</text>
                    </div>
                </div>
                <div class="column_market">
                    <b>deadline 1</b>
                    <div class="c_inner_row">
                        <text onclick="sort_alpha('container_market_table', 'down', 'deadline1')">down</text>
                        <text onclick="sort_alpha('container_market_table', 'up', 'deadline1')">up</text>
                    </div>
                </div>
                <div class="column_market">
                    <b>deadline 2</b><p></p>
                <button id="down" onclick="sort_date('container_market_table', 'down', 'deadline2')">down</button><p></p>
                <button id="up" onclick="sort_date('container_market_table', 'up', 'deadline2')">up</button>
                </div>
                <div class="column_market">
                    <b>bounty</b>
                    <div class="c_inner_row">
                        <text onclick="sort_alpha('container_market_table', 'down', 'bounty')">down</text>
                        <text onclick="sort_alpha('container_market_table', 'up', 'bounty')">up</text>
                    </div>
                </div>
                <div class="column_market">
                    <b>excellent grade bonus</b>
                </div>
                <div class="column_market">
                    <b>early finish bonus</b>
                </div>
                <div class="column_market">
                    <b>owner</b>
                </div>
            </div>
        </div>
        <div id="create_contract">
            <a href="{{ url_for('create_contract') }}"><h3>create a new contract</h3></a>
        </div>
        <div id="container_market_table">
            {% for doc in all_open_arr %}
            <!-- can wrap row with a link -->
            <a href="{{ url_for('contract', contract_id=doc['_id'], message='none') }}">
                <div class="row_market">
                    <!-- can wrap column with a link -->
                    <div class="column_market">
                        <b>type:</b><p>{{ doc['type_contract'] }}</p>
                    </div>
                    <div class="column_market">
                        <b>lvl of study:</b><p>{{ doc['lostudy'] }}</p>
                    </div>
                    <div class="column_market">
                        <b>subject:</b><p>{{ doc['subject'] }}</p>
                    </div>
                    <div class="column_market" id="col_specialization">
                        <b>subject:</b><p>{{ doc['specialization'] }}</p>
                    </div>
                    {% if doc['type_contract'] == "assignment" %}
                        {% if doc['timeline']|length > 5 %}
                            <div class="column_market">
                                {{ doc['timeline'][5]['time'] }}
                            </div>
                        {% else %}
                            <div class="column_market">
                                no efbonus deadline
                            </div>
                        {% endif %}
                        <div class="column_market">
                            <b>assignment due:</b><p>{{ doc['timeline'][2]['time'] }}</p>
                        </div>
                        <div class="column_market">
                            <b>bounty:</b><p>{{ doc['bounty'] }}</p>
                        </div>
                        <div class="column_market">
                            <b>egbonus:</b><p>{{ doc['egbonus'] }}</p>
                        </div>
                        <div class="column_market">
                            <b>efbonus:</b><p>{{ doc['efbonus'] }}</p>
                        </div>
                    {% else %}
                        <div class="column_market">
                            {{ doc['timeline'][2]['time'] }}
                        </div>
                        <div class="column_market">
                            {{ doc['timeline'][3]['time'] }}
                        </div>
                        <div class="column_market">
                            <b>bounty:</b><p>{{ doc['bounty'] }}</p>
                        </div>
                        <div class="column_market">
                            {{ doc['egbonus'] }}
                        </div>
                        <div class="column_market">
                            filler...
                        </div>
                    {% endif %}
                    <div class="column_market">
                        {{ doc['owner'] }}
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
    </div>
{% endblock %}