{% extends "base.html" %}
{% block title %}<title>REGISTERt</title>{% endblock %}
{% block css %}{% endblock %}
{% block body %}
    <div id="temp_accountheader">
        <div id="neutral_login">
            <a href="account">neutral login button here</a>
        </div>
        <div id="neutral_header_logo">
            <a href="/">answerBlasters logo</a>
        </div>
    </div>
    {% if message != '' %}
        <div>
            {{ message }}
        </div>
    {% endif %}
    <div>
        <form action="" method="post">
            <input name="user_email" placeholder="email...">
            <input name="user_password1" placeholder="password...">
            <input name="user_password2" placeholder="verify password...">
            <input name="username" placeholder="username...">
            <button type="submit">submit</button>
        </form>
    </div>
{% endblock %}