{% extends "base.html" %}
{% block title %}<title>REGISTERt</title>{% endblock %}
{% block css %}{% endblock %}
{% block body %}
    {% if message %}
        {{ message }}
    {% endif %}
    <div>
        <a href="{{ url_for('index') }}">INDEX</a>
        <p>
        <form action="{{ url_for('register') }}" method="post">
            <input name="user_email" placeholder="email...">
            <p>
            <input name="user_password1" placeholder="password...">
            <p>
            <input name="user_password2" placeholder="verify password...">
            <p>
            <input name="username" placeholder="username...">
            <p>
            <button type="submit">submit</button>
        </form>
    </div>
{% endblock %}